<%= form_with(model: @inscription, url: inscription_registration_path, local: true) do |form| %>
  <% if @inscription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inscription.errors.count, "error") %> prohibited this inscription from being saved:</h2>

      <ul>
      <% @inscription.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :course_id %>
    <%= form.select :course_id, Course.pluck(:name, :id) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
